#map {
    width: 65%;
    height: 88%;
    border: 3px solid #808080;
    position: absolute;
    left: 21%;
    top: 10%;
}
#title1{
    width: 45%;
    height: 8%;
    background: #25f75d;
    font-family: 华文中宋;
    font-size: 230%;
    position: absolute;
    left: 30%;
    text-align: center;
}
#view {
    position: absolute;
    top: 25%;
    left: 0.5%;
    width:20%;
    height:45%;
}
#left {
    position: absolute;
    top: 10%;
    left: 86.7%;
    width:13%;
    height:90%;
    background:#b6ff00;
    font-family:楷体;
}
